<div class="card">
	<div class="card-header">
		Sign Up
	</div>

	<div class="card-body">
		<form novalidate
          (ngSubmit)="save()"
          [formGroup]="signUpForm"> 
			<div class="form-group row mb-2">
				<label class="col-form-label col-md-3">
          First Name
        </label>
				<div class="col-md-8">
					<input class="form-control"
            id = "fName"
            type="text"
            placeholder="First Name (Required)"
            formControlName="firstName"
                 [ngClass]="{'is-invalid': (signUpForm.get('firstName').touched || signUpForm.get('firstName').dirty) && !signUpForm.get('firstName').valid }"
          >
					<span class="invalid-feedback">
            <span *ngIf="signUpForm.get('firstName').errors?.required">
              Please enter your first name.
            </span>
					<span *ngIf="signUpForm.get('firstName').errors?.minlength">
              The first name must be longer than 3 characters.
            </span>
					</span>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label class="col-form-label col-md-3">
          Last Name
        </label>
				<div class="col-md-8">
					<input class="form-control"
            id = "lName"
            type="text"
            placeholder="Last Name (Required)"
            formControlName='lastName'
                 [ngClass]="{'is-invalid': (signUpForm.get('lastName').touched || signUpForm.get('lastName').dirty) && !signUpForm.get('lastName').valid }"
          >
					<span class="invalid-feedback">
            <span *ngIf="signUpForm.get('lastName').errors?.required">
              Please enter your last name.
            </span>
					<span *ngIf="signUpForm.get('lastName').errors?.minlength">
              The Last name must be longer than 3 characters.
            </span>
					</span>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label class="col-form-label col-md-3">
          Email
        </label>
				<div class="col-md-8">
					<input class="form-control"
            id = "emailid"
            type="email"
            placeholder="Email (Required)"
            formControlName='email'
            [ngClass]= "{'is-invalid': (signUpForm.get('email').touched || signUpForm.get('email').dirty) && !signUpForm.get('email').valid}"
          >
					<span class="invalid-feedback">
          <span *ngIf="signUpForm.get('email').errors?.required">
            Please enter your email address.
          </span>
					<span *ngIf="signUpForm.get('email').errors?.email">
            Please enter a valid email address.
          </span>
					</span>
				</div>
			</div>

			<div class="form-group row mb-2">
				<label class="col-form-label col-md-3">
          Mobile Number
        </label>
				<div class="col-md-8">
					<input class="form-control"
            id = "id_mobile"
            type="number"
            placeholder="Mobile Number (Required)"
            formControlName='mobile'
                 [ngClass]="{'is-invalid': (signUpForm.get('mobile').touched || signUpForm.get('mobile').dirty) && !signUpForm.get('mobile').valid }"
          >
					<span class="invalid-feedback">
            <span *ngIf="signUpForm.get('mobile').errors?.required">
              Please enter your mobile name.
            </span>
					<span *ngIf="signUpForm.get('mobile').errors?.minlength">
              Mobile Number must be of 10 characters.
            </span>
					</span>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label class="col-form-label col-md-3">
          Password
        </label>
				<div class="col-md-8">
					<input class="form-control"
            id = "pswd"
            type="password"
            placeholder="Password (Required)"
            formControlName='password'
                 [ngClass]="{'is-invalid': (signUpForm.get('password').touched || signUpForm.get('password').dirty) && !signUpForm.get('password').valid }"
          >
					<span class="invalid-feedback">
            <span *ngIf="signUpForm.get('password').errors?.required">
              Please enter Password.
            </span>
					<span *ngIf="signUpForm.get('password').errors?.minlength">
              The Password must be longer than 5 characters.
            </span>
					</span>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label class="col-form-label col-md-3">
          Confirm Password
        </label>
				<div class="col-md-8">
					<input class="form-control"
            id = "cpassword"
            type="password"
            placeholder="Confirm Password (Required)"
            formControlName='cPassword'
                 [ngClass]="{'is-invalid': (signUpForm.get('cPassword').touched || signUpForm.get('cPassword').dirty) && !signUpForm.get('cPassword').valid }"
          >
					<span class="invalid-feedback">
            <span *ngIf="signUpForm.get('cPassword').errors?.required">
              Please enter Confirm Password.
            </span>
					<!-- <span *ngIf="signUpForm.get('cPassword').errors?.minlength">
              The first name must be longer than 3 characters.
            </span> -->
					</span>
				</div>
			</div>
      <div class="form-group row mb-2">
        <div class="offset-md-3 col-md-4">
          <button class="btn btn-primary mr-3"
                  type="submit"
                  style="width:80px"
                  [title]="signUpForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!signUpForm.valid">
            Save
          </button>
        </div>
      </div>
		</form>
	</div>
</div>

<br>
{{signUpForm.value | json}}
{{signUpForm.get('email').touched}}